<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Styles/index.css">
    <title>EatWell</title>
</head>
<body>
    
    <div id="navigation-pane">
        <h2><a href="/index">eatwell</a></h2>
        <div id="navigation-list">
            <ul>
                <li class="border"><a href="/recommended">browes restaurants</a></li>
                <li class="border"><a href="/shareRestaurent">share a retaurant</a></li>
                <li><a href="/about">about EatWell</a></li>

            </ul>

        </div>

    </div>

    <h1 id="main-content">Make the World a tasier place!</h1>
    <p>Share your favourite retaurent or find recommendation of other users!</p>

    <div id="main-page">
        <h3 id="browse"><a href="/recommended">browse shared restaurents</a></h3>
        <h3 id="share"><a href="/shareRestaurent">share your favourite restaurents</a></h3>

    </div>

</body>
</html>