body{

    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(75deg,rgb(157, 248, 248),rgb(243, 243, 243));
    text-align: center;
}

#navigation-pane{
    
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
    width: 82%;
    margin: 1rem auto;
   
}

#navigation-pane h2 a{

    text-decoration: none;
    color: black;
}

#navigation-list ul{

    display: flex;
    flex-direction: row;
    list-style: none;
    gap:2.5rem;
    justify-content:space-around;
    align-items: center;
    margin-top: 1.6rem;
    font-weight:00;
       
}


#navigation-list ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
      
}

#navigation-list ul li a:hover{

text-decoration: underline;
cursor: pointer;
     
}

.border{

    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 2rem;
}

#main-content{

    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    margin-bottom: 1rem;

}
#main-page{

    display: flex;
    justify-content: center;
    gap:1.5rem;
    margin-top: 3rem;
}
#main-page h3{

    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
    width: 23%;
   
    font-family: 'Lexend Deca', sans-serif;
    
    font-size: 2.5rem;
    font-weight: 300;
}